*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}* 

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 2rem;
  border-bottom: 2px solid #2301ba;
  position: relative;
  z-index: 1000;
}

.logo {
  display: flex;
  text-decoration: none;
}

.logo-img {
  height: 60px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}



.btn-inschrijven {
  background-color: #2301ba;
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.page {
  background-color: #ffffff;
  color: #000000;
  padding: 2rem;
  min-height: calc(100vh - 60px);
}

.nav-links a {
  font-size : 1.1rem;
  font-weight: 500;
  
}

.nav-links .tekst-blauw {
  color: #2e2e8b;
  text-decoration: none;
}

.tekst-roze {
  color: #e01b68;
   text-decoration: none;
}

.tekst-geel {
  color: #f2c14e;
   text-decoration: none;
}

.tekst-groen {
  color: #4caf50;
   text-decoration: none;
}